
/* Container style */
.questionContainer {
  margin-bottom: 20px;
  border: 1px solid #e6e6e6; /* Lighter border color */
  padding: 10px;
  border-radius: 4px; /* Reduced border-radius */
  background-color: #fff; /* White background */
  box-shadow: none; /* No box-shadow for a flat design */
}

/* Input and Select fields */
.questionInput, .questionSelect, .additionalInput, .additionalTextarea {
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Consistent border-radius */
  background-color: #fff; /* White background */
  color: #333; /* Darker text color for contrast */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern sans-serif font */
}

/* Buttons */
.questionButton {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px; /* Consistent border-radius */
  background-color: #35B0C9; /* Blue background */
  color: #fff; /* White text */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern sans-serif font */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.modalButton {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px; /* Consistent border-radius */
  background-color: #818486; /* Blue background */
  color: #fff; /* White text */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern sans-serif font */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.questionButton:hover {
  background-color: #25899a; /* Slightly darker blue on hover */
}

.addQuestionButtonContainer {
  margin-top: 0px; /* Space above the button */
  margin-bottom: 40px; /* Space between this and bottom buttons */
  display: flex;
  justify-content: center;
}

.bottomButtonContainer {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
}

/* Optional: Adjust the button styles if needed */
.questionButton, .modalButton {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
}