
.questionContainer {
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
}

.AccordionTrigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.questionInput, .questionSelect, .additionalInput, .additionalTextarea {
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Buttons */
.questionButton {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #35B0C9;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalButton {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #818486;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.questionButton:hover {
  background-color: #25899a;
}

.addQuestionButtonContainer {
  margin-top: 0px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.bottomButtonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.questionButton, .modalButton {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
}

.deleteButton {
  margin-left: auto;
  margin-right: 2rem;
}